*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* email-section */

.email-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../image/Sign\ Up\ Page.png);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}

.email-holder{
    width: 90%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    width: 30px;
    height: 30px;
    background-image: url(../image/Arrow\ 1.png);
    background-position: center;
    background-size: cover;
}

.update{
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-holder{
    width: 16%;
    height: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;
}

.email-name{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.email-mat{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email-id{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image: url(../image/id.png);
    background-color: #fff;
    background-position: center;
    background-size: cover;
}  

.main-section{
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 40px;
}

.dark-setting{
    width: 70%;
    height: 45vh;
    margin: auto;
    background-color: #1F1F1F;
    border-radius: 15px;
}

.theme{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFF;
}

.mode-holder{
    display: flex;
}

.light-mode{
    width: 50%;
    height: 40vh;
}

.light-mode-image{
    width: 50%;
    height: 25vh;
    margin: auto;
    background-image: url(../image/lgiht.png);
    background-position: center;
    background-size: cover;
}

.light-mode-button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 4px dotted #fff;
    margin: auto;
    margin-top: 9px;
}

.name-light{
    text-align: center;
    font-family: Montserrat;
    color: #FFF;
    font-size: 13px;
    padding-top: 10px;
}

.dark-mode{
    width: 50%;
    height: 40vh;
}

.dark-mode-image{
    width: 50%;
    height: 25vh;
    margin: auto;
    background-image: url(../image/dark.png);
    background-position: center;
    background-size: cover;
}

.dark-mode-button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #000000;
    background-color: #000000;
    margin: auto;
    margin-top: 9px;
}

.name-dark{
    text-align: center;
    font-family: Montserrat;
    color: #FFF;
    font-size: 13px;
    padding-top: 10px;
}

.font-setting{
    width: 70%;
    height: 20vh;
    margin: auto;
    margin-top: 20px;
    background-color: #1F1F1F;
    border-radius: 15px;
}

.font-size{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
}

.input{
    margin-left: 230px;
    width: 50%;
    margin-top: 20px;
}

p{
    color: #FFF;
}

.p-1{
    position: absolute;
    left: 450px;
    top: 480px;
}

.p-2{
    position: absolute;
    left: 940px;
    top: 450px;
    font-size: 50px;
}


@media screen and (max-width: 769px) {
    .input {
        margin-left: 0;
        width: 100%;
    }

    .font-setting {
        padding: 20px;
    }

    .dark-setting, .font-setting {
        width: 100%;
    }

    .light-mode-image, .dark-mode-image {
        width: 80%;
    }

}
