*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* post-section */

 .post{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    padding-top: 20px;
 }

 .header{
    width: 95%;
    height: fit-content;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 35px;
    height: 35px;
    background-image: url(../image/logo-2.png);
    background-position: center;
    background-size: cover;
}

.home{
    display: flex;
    gap: 30px;
}

.logo-1{
    width: 25px;
    height: 25px;
    background-image: url(../image/home.png);
    background-position: center;
    background-size: cover;
}

.logo-2{
    width: 30px;
    height: 30px;
    background-image: url(../image/bell.png);
    background-position: center;
    background-size: cover;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50px;
    position: absolute;
    top: 30px;
    left: 610px;
    background-image: url(../image/Ellipse\ 5.png);
}

.logo-3{
    width: 25px;
    height: 25px;
    background-image: url(../image/setting.png);
    background-position: center;
    background-size: cover;
}

.name{
    display: flex;
    align-items: center;
    gap: 20px;
}


.name{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mat{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image: url(../image/id.png);
    background-position: center;
    background-size: cover;
    background-color: #fff;
}

.scroll{
    overflow-y: scroll;
}

.two{
    width: 95%;
    height: 85vh;
    display: flex;
    margin: auto; 
    margin-top: 10px;
}

.post-view{
    width: 50%;
    height: 85vh;
}

.add-post{
    width: 50%;
    height: 85vh;
}

.hold-post{
    width: 90%;
    height: 80vh;
    overflow-y: scroll;
    border-right: 1px solid #454545;;
}

.hold-post::-webkit-scrollbar{
    display: none;
}

.profile-line{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-line-1{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.circle-1{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #FFF;
    background-image: url(../image/id2.png);
    background-position:  center;
    background-size: cover;
}

.person-name{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

.time{
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    padding-top: 8px;
}

.Contribute{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 20%;
    height: 4vh;
    flex-shrink: 0;
    border-radius: 15px;
    background: #CB8700;
    text-align: center;
    margin-left: 150px;
    cursor: pointer;
}

.comment{
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    width: 65%;
    height: 8vh;
    margin-left: 110px;
    margin-top: 20px;
}

.post-image{
    width: 65%;
    height: 40vh;
    margin-left: 110px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url(../image/post1.jpg);
    background-position: center;
    background-size: cover;
}

.circle-2{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #FFF;
    background-image: url(../image/id3.png);
    background-position:  center;
    background-size: cover;
}

.post-image-1{
    width: 65%;
    height: 40vh;
    margin-left: 110px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url(../image/post2.jpg);
    background-position: center;
    background-size: cover;
}

.post-line{
    width: 60%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 27px;
    border: 3px dashed #BBB;
    background: #131313;
    margin-left: 250px;
    margin-top: 20px;
}

.cross{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image: url(../image/Group\ 10.png);
    background-position: center;
    background-size: cover;
    margin-top: 200px;
    margin-left: 170px;
}

.click{
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 85px;
    padding-top: 30px;
}

@media screen and (max-width: 769px) {
    
 .post{
    width: 100%;
    height: 120vh;
 }

 .profile-line-1{
    
}
 
 .person-name{
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    justify-content: space-around;
}

.Contribute{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 20%;
    height: 4vh;
    flex-shrink: 0;
    border-radius: 15px;
    background: #CB8700;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
}

}