*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.report{
    width: 100%;
    height: 100vh;
    background-image: url(../image/Sign\ Up\ Page.png);
    background-position: center;
    background-size: cover;
    padding-top: 40px;
}

.line-group{
    width: 95%;
    height: fit-content;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 35px;
    height: 35px;
    background-image: url(../image/logo-2.png);
    background-position: center;
    background-size: cover;
}

.home{
    display: flex;
    gap: 30px;
}

.logo-1{
    width: 25px;
    height: 25px;
    background-image: url(../image/home.png);
    background-position: center;
    background-size: cover;
}

.logo-2{
    width: 30px;
    height: 30px;
    background-image: url(../image/bell.png);
    background-position: center;
    background-size: cover;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    left: 610px;
    background-image: url(../image/Ellipse\ 5.png);
}

.logo-3{
    width: 25px;
    height: 25px;
    background-image: url(../image/setting.png);
    background-position: center;
    background-size: cover;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}


.name{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mat{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image: url(../image/id.png);
    background-position: center;
    background-size: cover;
    background-color: #fff;
}

.new{
    width: 95%;
    height: fit-content;  
    margin-left: 30px;
    margin-top: 70px;
    display: flex;
}

.no-new-reports{
    width: 50%;
    height: 70vh;
    padding-left: 250px;
    padding-top: 100px;
}

.add{
    width: 50%;
    height: fit-content;
}

.report-image{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-image: url(../image/report.png);
    background-position: center;
    background-size: cover;
    margin-left: 20px;
}

.text >p{
    color: #BBB;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
}

.text :nth-child(2){
    color: #BBB;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-left: 30px;
}

.add{
    width: 350px;
    height: 70vh;
    flex-shrink: 0;
    margin: auto;
    border-radius: 27px;
    border: 3px dashed #BBB;
    background: #131313;
}

.cross{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 150px;
    margin-top: 150px;
    background-image: url(../image/Group\ 10.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.add >a{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
}