*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sign-up{
    width: 100%;
    height: 100vh;
    background-image: url(../image/Sign\ Up\ Page.png);
    background-position: center;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 200px;
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url(../image/logo-2.png);
    background-position: center;
    background-size: cover;
    margin-left: 50%;
    margin-bottom: 20px;
}

.form{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 20px;
}

.input, .input-2{
    width: 50%;
    height: fit-content;
    padding-left: 80px;
}

.input-2{
    padding-left: 20%;
}

.text-1{
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #333;
    border: none;
    margin-top: 15px;
    padding-left: 20px;
}

.btn{
    width: 110px;
    height: 40px;
    margin-left: 190px;
    border-radius: 10px;
    border: none;
    background: #CB8700;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 425px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    
    .input, .input-2 {
        
        width: 100%;
        padding-left: 20px;
    }

    .btn {
        margin-left: 0;
    }

    .input-2 > button {
        margin-top: 10px;

    }

   
}
